<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= robot_name%></title>
  </head>
  <body>
    <h1><%= bendunit1.say_name %></h1>
    <h1><%= bendunit1.bend(object) %></h1>
  </body>
</html>
